@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

main {
  @apply my-5;
}

section {
  @apply my-5;
}

/* Exact resolution */
@media (-webkit-device-pixel-ratio: 1.5) {
  .main-container {
    padding: 1rem 6rem;
  }
}
