@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

@layer base {
  p {
    @apply text-sm md:text-lg;
  }

  main {
    @apply my-5;
  }

  h1 {
    @apply text-xl md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply lg:text-xl;
  }

  section {
    @apply my-5;
  }

  button {
    @apply p-3;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

/* Exact resolution */
@media (-webkit-device-pixel-ratio: 1.5) {
  .main-container {
    padding: 1rem 6rem;
  }
}
